@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
  width: 1400px;
  margin: auto;
}

.nav {
  text-align: center;
}

.nav__progress-bar__wrapper {
  width: 600px;
  margin: 24px auto 16px auto;
  position: relative;
}

.nav__progress-bar {
  height: 5px;
  background-color: #08A045;
}

.nav__progress-bar--1 {
  width: 0;
}

.nav__progress-bar--2 {
  width: 33.3333%;
}

.nav__progress-bar--3 {
  width: 66.6667%;
}

.nav__progress-bar--4 {
  width: 100%;
}

.nav__progress-bar__bubble {
  height: 20px;
  width: 20px;
  background-color: #08A045;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
}

.nav__progress-bar__bubble--1 {
  left: -8px;
}

.nav__progress-bar__bubble--2 {
  left: 32%
}

.nav__progress-bar__bubble--3 {
  left: 65%;
}

.nav__progress-bar__bubble--4 {
  left: 99%;
}

.nav__links {
  width: 650px;
  font-size: 14px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav__links__link {
  text-decoration: none;
  color: #000;
}

.nav__links__link:hover {
  text-decoration: underline;
}

.nav__links__link--active {
  font-weight: 600;
}

.chart-panel {}

.chart-panel__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  padding: 12px 0;
}

.chart_element {
  fill: #2B50AA;
}

.chart_element--interactive:hover {
  fill: #1c3472;
}

.understated_element {
  fill: #DDD;
}

.athletics {
  fill: #08A045;
}

.athletics--interactive:hover {
  fill: #035e27;
}

.annotation_title {
  font-weight: 600;
  text-anchor: middle;
}

.annotation_text {
  font-weight: 200;
  text-anchor: middle;
  font-size: 14px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.slide-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12px;
  margin-bottom: 50px;
  height: 500px;
}

.slide_copy {
  font-size: 18px;
}

.slide-navigation {
  display: flex;
}

.slide-navigation__button {
  width: 50%;
  cursor: pointer;
  font-size: 20px;
  background-color: #DDD;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 6px;
}

.slide-navigation__button:hover {
  background-color: #999;
}

.slide-navigation__button--inactive {
  cursor: default;
  color: #CCC;
  background-color: #EEE;
}

.slide-navigation__button--inactive:hover {
  background-color: #EEE;
}

.bar-tooltip {
  position: absolute;
  text-align: center;
  padding: 6px;
  background: #CCC;
  border-radius: 3px;
  pointer-events: none;
}

.hero__title {
  margin: 60px 0 24px 0;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}

.hero__body {
  width: 900px;
  margin: auto;
  font-size: 24px;
}

.hero__button {
  display: block;
  width: 150px;
  padding: 6px;
  border-radius: 3px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  background-color: #08A045;
  margin: auto;
  text-decoration: none;;
}

.hero__button:hover {
  background-color: #035e27;
}
